<head>
  <script>
    // 프로젝트에 저장된 '세션스토리지'를 초기화한다.
    // 간단하게 사이트가 열려있는동안 뒤에 잠깐 저장되는 데이터공간.. 자세한건 검색..!
    localStorage.clear();

    // 서버로 팩트체크의 데이터 요청
    jQuery.ajax({
       type: "GET",
       url: "/getStatementTitle",
       data: {},
       success: function(result){},
       error: function(error){console.log("error : " , error);}
    }).done(function(result){
      // statement DB에 등록된 제목 개수만큼 반복해서 html Table을 그린다.
      result.forEach((item, i) => {
        console.log("result : ", item);
        $(".cdcNoticeTable").append("<tr class='list_"+ i + "' onclick='loadPage(" + item.id + ")'></tr>");    // 한줄 생성
        $(".list_"+i).append("<td class='tb_number'>" + (result.length-i) + "</td>");                              // 번호
        $(".list_"+i).append("<td class='tb_title'>" + item.title + "</td>");                            // 제목
        $(".list_"+i).append("<td class='tb_date'>" + getFormatDate(new Date(item.date)) + "</td>");     // 작성일자
      });
    });

    // statement 한줄을 클릭하면 호출된다
    function loadPage(id){
      sessionStorage.setItem("statementID",id);       // 사이트 세션에 클릭한 제목의 ID를 저장한다
      $(".wrap").load('/page/statement_comment');     // statement_comment를 그린다.
    }


    // DB의 날짜를 한국형식(YYYY-MM-HH)로 리턴해주는 함수.
    function getFormatDate(date){
      var year = date.getFullYear();
      var month = (1 + date.getMonth());
      var day = date.getDate();
      month = month >= 10 ? month : '0' + month;
      day = day >= 10 ? day : '0' + day;
      return  year + '-' + month + '-' + day;
    }
  </script>
</head>

<div class="statementWrap">
  <div class="header">
    <p>코로나19팩트 & 이슈체크</p>
  </div>

  <table class="cdcNoticeTable">
    <tr class="title">
      <th class="tb_number">번호</th>
      <th class="tb_title">제목</th>
      <th class="tb_date">작성일자</th>
    </tr>
  </table>
</div>
